<section class="hero">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                aria-label="Slide 8"></button>

            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"
                aria-label="Slide 9"></button>

            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 10"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active " data-bs-interval="8000">
                <img src="{{ imageUrls[0] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[0] }}</h5>
                    <p>{{ explanation[0] }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{{ imageUrls[1] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[1] }}</h5>
                    <p>{{ explanation[1] }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{{ imageUrls[2] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[2] }}</h5>
                    <p>{{ explanation[2] }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{{ imageUrls[3] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[3] }}</h5>
                    <p>{{ explanation[3] }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{{ imageUrls[4] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[4] }}</h5>
                    <p>{{ explanation[4] }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{{ imageUrls[5] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[5] }}</h5>
                    <p>{{ explanation[5] }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{{ imageUrls[6] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[6] }}</h5>
                    <p>{{ explanation[6] }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{{ imageUrls[7] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[7] }}</h5>
                    <p>{{ explanation[7] }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{{ imageUrls[8] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[8] }}</h5>
                    <p>{{ explanation[8] }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{{ imageUrls[9] }}" alt="" class="nasaImage" id="nasaImage">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ title[9] }}</h5>
                    <p>{{ explanation[9] }}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>